@font-face {
  font-family: Roboto Mono;
  src: url(assets/font/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/font/RobotoMono-Bold.ttf);
}

body {
  font-family: 'Roboto Mono';
}

.spon-button {
  background-color: #F07070;
  border: none;
  padding: .75rem 1.5rem;
  margin-top: 1rem;
}

.header-bar {
  background-color: #F07070;
  justify-content: space-between;
  padding: 15px;
}

.logo-alone {
  height: 2.8rem;
  cursor: pointer;
}

.top-banner {
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.activity-list-hero {
  background-image: linear-gradient(#801d8080, #ffc0cb80), url(assets/images/low-angle-photography-of-coconut-trees-804410.jpg);
}

.center-nav {
  height: 57vh;
  background-image: linear-gradient(#801d8080, #ffc0cb80), url('assets/images/action-adult-balance-balancing-415176.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.location-text {
  top: 28%;
  left: 37%;
}

.card-size {
  width: 100%;
  min-width: 200px;
  align-items: stretch;
}

.adventure-card a {
  color: #f07070;
}

.img-info {
  height: 20vh;
  object-fit: cover;
}

.horizontal-scroll {
  overflow-x: scroll;
}

.outer {
  margin: auto;
  position: relative;
}

.inner {
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.slides {
  transition: .3s all;
}

.indicator {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  transition: .3s all;
  background: #fff;
}

.active {
  background: #ccc;
}

.carousel-container {
  height: 350px;
  display: flex;
}

.inner-card {
  margin: auto;
}

.learn-more-cta {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: #f07070;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: .3s all;
}

.learn-more-cta:hover {
  background: #e76c6c;
}

.arrow {
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  top: 50%;
  position: absolute;
  transition: .3s all;
  cursor: pointer;
}

.arrow:hover {
  background: #f07070;
  border-color: #f07070;
  color: #fff;
}

.left {
  transform: translate(-50%, -50%);
  left: 15px;
  z-index: 1;
}

.right {
  transform: translate(50%, -50%);
  right: 15px;
  z-index: 1;
}

button:focus {
  outline: none;
}

.current-image {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  transition: .3s all;
  cursor: pointer;
}

.shut {
  font-size: 2rem;
  display: block;
  border-bottom: 1px solid #ccc;
}

.menu {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s all;
  overflow: hidden;
  display: block;
}

.menu-closed {
  opacity: 0%;
  visibility: hidden;
}

.menu-open {
  opacity: 100%;
  background-image: linear-gradient(#00000050, #00000050);
}

.nav-drawer {
  padding: 3.8rem 2rem;
  position: absolute;
  height: 100%;
  background: #fff;
  top: 0px;
  right: 0px;
  width: 80%;
  transition: .3s all;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  transform: scaleX(1.5);
  color: white;
}

.nav-closed {
  transform: translateX(100%);
}

.nav-open {
  transform: translateX(0%);
}

.nav-drawer h3 {
  font-size: 3rem;
  margin-block-start: .333em;
}

.nav-drawer a {
  font-size: 1rem;
  margin: 1rem 0em;
  display: block;
  color: #f07070;
  transition: .3s all;
  text-decoration: none;
}

.nav-drawer a:hover {
  color: #e76c6c
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

.shut {
  color: #000;
}

.closeIcon {
  cursor: pointer;
}

.menu-nav-bar {
  margin: auto 8px auto auto;
}

.activity-top-banner {
  height: 35vh;
  background-image: linear-gradient(#801d8080, #ffc0cb80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.activity-detail-container{
width: 90%;
}

.activity-detail{
  border: 1px solid gray;
  border-radius: 5px;
  height: 20vh;
}

.activity-description{
  height: 25vh;
  overflow: scroll;
}

.confirm-button{
  background-color: #F07070;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 45%;
}

.back-button{
  border: 1px solid #F07070;
  color: #F07070;
  background-color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 45%;
}
.profile-user-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.profile-point-value {
  font-size: 4rem;
  color: #F07070;
}

.calc-button-50 {
  display: flex;
  justify-content: space-between;
}

.calc-button-50 button {
  width: calc(50% - 8px);
}

input::placeholder {
  color: #ccc;
}

.input-font {
  font-size: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

.activity-thumbnail {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.points {
  width: 14%;
  color: #f07070;
  border: 1px solid;
  border-radius: 3.5px;
}

/* FRIEND PAGE BELOW - CHANGE AS NEEDED */

.viewing {
  background: #f07070;
  color: #fff;
}

.friend-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.friend-button {
  padding: .75rem 1.5rem;
  margin-top: 1rem;
  background-color: white;
}

.send-message {
  color: #f07070
}

/* FRIEND PAGE ABOVE - CHANGE AS NEEDED */

.wine-and-paint-hero {
  background-image: linear-gradient(#801d8080, #ffc0cb80), url(assets/images/wine-and-paint.jpg);
}

.pickup-basketball-hero {
  background-image: linear-gradient(#801d8080, #ffc0cb80), url(assets/images/pickup-basketball.jpg);
}

.yoga-hero {
  background-image: linear-gradient(#801d8080, #ffc0cb80), url(assets/images/yoga.jpg);
}

.parasailing-hero {
  background-image: linear-gradient(#801d8080, #ffc0cb80), url(assets/images/parasailing.jpg);
}

.reroll {
  color: #f07070;
}

.filter-range::-webkit-slider-thumb,
.filter-range::-moz-range-thumb,
.filter-range::-ms-thumb {
  background: #fff!important;
}  
  
.confirmation-container{
  width: 90%;
}

.confirm-info{
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
}

.bold{
  font-weight: bold;
}

.back-home-button{
  background-color: #f07070;
  color: white;
  border-radius: 5px;
  font-size: 1.25rem;
}

.cancel-button{
  font-size: 1.25rem;
  background-color: white;
  border-radius: 5px;
  color: lightgray;
}

.bold-text{
  font-family: 'Roboto-Bold';
}

.point{
  background-color: #f07070;
  border-radius: 2px;
  color: white;
}
