@font-face{
  font-family: Roboto Mono;
  src: url(assets/font/RobotoMono-Regular.ttf);
}

body{
  font-family: 'Roboto Mono';
}

.header-bar{
  background-color: #F07070;
  height: 10vh;
}

.logo-alone{
  height: 60%;
}

.menu-bar{
  font-size: 3rem;
  color: white;
}

.center-nav{
  height: 57vh;
  background-image: url(assets/images/action-adult-balance-balancing-415176.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
}

.gradient-bg{
  background-image: linear-gradient(purple, pink);
  height: 100%;
  opacity: .5;
}

.logo-text{
  position: absolute;
}

.logo-title{
  top: 31%;
  left: 5%;
  color: white;
  font-size: 2.5rem;
}

.logo-motto{
  top: 38%;
  left: 15%;
  color: white;
}

.input-field{
  position: absolute;
  border-radius: 10px;
  text-align: center;
  top: 43%;
  left: 11%;
  height: 7%;
  width: 80%;
}

.bottom-text{
  font-size: 1.5rem;
}

.card-size{
  width: 200px;
}

.img-info{
  height: 17vh;
  object-fit: cover;
}

.horizontal-scroll{
  overflow-x: scroll;
}
